services:
  - type: web
    name: wchat
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python server.py
    envVars:
      - key: PORT
        value: 10000
      - key: HOST
        value: 0.0.0.0